* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-gameboard: #b4dea8;
	--color-gameboard-darker: #a3c998;
	--color-background: #3f9ba6;
	--color-light: #f5f5f5;
	--color-highlight: #d96c6c;
}

body {
	background-color: var(--color-background);
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 400;
	font-style: normal;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.title {
	font-size: 3em;
	color: var(--color-light);
}

button {
	border: none;
	margin-top: 20px;
	border-radius: 50px;
	font: inherit;
	font-size: 1.75em;
	color: var(--color-highlight);

	height: ;
	width: 175px;
}

.playerOne,
.playerTwo {
	background-size: cover;
	width: 60px;
	height: 60px;
}

.playerOne {
	background-image: url(/images/frog.png);
}

.playerTwo {
	background-image: url(/images/lotus.png);
}

.gameboard-container {
	background-color: var(--color-gameboard);
	height: 500px;
	width: 500px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	overflow: hidden;
	position: relative;
	
}

/* This creates the effect of inner borders, without external ones */
/* Essentially Defines the color of the grid lines */
.container-for-lines {
	background-color: var(--color-light);
}

.gameboard {
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	height: 400px;
	width: 400px;
}

.cell {
	background-color: #b4dea8;
	display: grid;
	place-items: center;
	/* Setting specific H/W prevents cells from widening when content is placed */
	height: 134px;
	width: 134px;
}

.empty:hover::before {
	content: '';
	background-color: var(--color-gameboard-darker);
	height: 90px;
	width: 90px;
	border-radius: 50%;
	position: absolute;
}
